# Database
DATABASE_URL=postgresql://user:password@localhost:5432/taskflow

# Auth
JWT_SECRET=supersecretjwtkey
JWT_REFRESH_SECRET=supersecretrefreshkey

# Server
PORT=5000

# Client
NEXT_PUBLIC_API_URL=http://localhost:5000/api
